.button{
  cursor: pointer;
  background-color: aquamarine;
}

.student{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 300px;
}

.student p{
    margin: 0;
}